
    body
    {
        /*width: 1600px;*/
        margin: auto;
        padding: 0;
        font-family: lato, serif;
        background: #D7E4F2;
    }
    
header{
    width: 90%;
    margin: 0 auto;
}
                    /*Структура сайта*/

    .top{
        /*width:1200px;*/
        /*height:auto;*/
        /*margin: 0 auto;*/
        background: #FFFFFF;
    }
    .top img{
        width: 10%;
        position: relative;
        left: 5%;
        padding: 2%;
    }

.str{
    position: relative;
    width: 1200PX;
    top: -734px;
}


.header {
    height: 700px;
    text-align: center;
    background: url(images/Top.jpg)no-repeat 50% 50%;
    background-size: 100% 100%;
       }
    .header h1{
        text-align: center;
        font-size: 96px;
        font-family: Lato, serif;
        font-weight: bold;
        color: #ffffff;
        position: relative;
        top: 156px;
        letter-spacing: 2px;
        margin: 0 auto;
        z-index: 77;
    }


.header img{
    position: relative;
    width: 100%;
}

hr {
    text-align: center;
    position: relative;
    top: 172px;
    width: 46%;
    height: 5px;
    background: #4592C6;
    border: none;
    z-index: 8;
  }
 @font-face {
font-family: Lato; /* имя шрифта для CSS правил */
src:local("Lato"), /* проверяем наличие шрифта в ОС пользователя */
url(lato/lato-bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
url(lato/lato-regular.ttf)
  }
  @font-face {
font-family: Lato; /* имя шрифта для CSS правил */
src: url(lato/lato/lato-regular.ttf); /* проверяем наличие шрифта в ОС пользователя */ local("Lato")
  }
 /*p{*/
     /*text-align: center;*/
     /*font-size: 96px;*/
     /*font-family: Lato, serif;*/
     /*font-weight: bold;*/
     /*color: #ffffff;*/
     /*position: relative;*/
     /*top: 159px;*/
     /*letter-spacing: 7px;*/
     /*margin: 0 auto;*/
     /*z-index: 77;*/
    /*}*/

.p2{
    color: #FFFFFF;
    position: relative;
    top: 196px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
}
	
#btn {
    width: 140px;
    height: 45px;
    background: #16A4FA;
    position: relative;
    border: 1px;
    font-size: 17px;
    color: white;
    border-radius: 5px;
	}
#btn:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #48BAFF;
    background:#767D8D;

}
div.header a{
    position: relative;
    top: 244px;
    width: 1200px;
    z-index: 8;
}
	

.sp{
		width: 158px;
		height: 57px;
		background: blue;
		position: relative;
		left: 741px;
		top: 36px;
		font-size: 25px;
		border-radius: 8px;
		display: block;
        font-family: lato, serif;

		text-align: center;}
	
div.line {
    width: 90%;
    /*height: auto;*/
    margin: 0 auto;
    padding: 24px 0;
    background-color: #F5F9FA;
    color: black;
    text-align: center;
    font-family: lato, serif;
}
	
div.line p		{
    width: 70%;
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    color: #939798;
    top: 6px;
    letter-spacing: 1.5px;
    margin: auto;
    padding: 20px;
}
		
div.line h1{
    font-size: 2.4375em;;
    color: #2C3659;
    padding: 0;
    margin: 10px 0;
    font-weight: 100;
}
    /*Іконки*/             /*Іконки*/   /*Іконки*/   /*Іконки*/

.icons{

    text-align: center;
    width: 90%;
    background-color: #FFFFFF;
    margin: 0 auto;
    /*height: 2208px;*/
}
#cont{
    text-decoration: none;
    color: #898D8C;
    cursor: pointer;
}
.tel, .font, .fly{
    display: inline-block;
    margin: 0 5%;
    /* position: relative; */
    /* left: 77px; */
    text-align: center;
    width: 15%;

}
div.icons img{
    padding: 20px;

}
div.icons p{
    position: relative;
    top: -13px;
    font-size: 0.8em;
    color: #AEAEAE;
    letter-spacing: normal;
    }

div.icons h3{
    color: #2C3659;
    font-family: lato, serif;
    font-size: 1.3em;
    }


    /*Foto blocks*/      /*Foto blocks*/       /*Foto blocks*/       /*Foto blocks*/



div.foto{
    width: 90%;
    margin: 0 auto;
    /* padding: 20px 0; */
    clear: both;
    text-align: center;
    background-color: #F5F9FA;

}

div.foto h1{
    color: #2C3659;
    padding: 10px 0 0 0;
    font-size: 3.125em;
    margin: 0;
}

div.foto p{

    text-align: center;
    font-size: 1.3em;
    font-family: Lato, serif;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: 10px;
    letter-spacing:1px;
    margin: 11px auto 34px;
    z-index: 77;
}


div.aa, div.aaa, div.aa4, div.aa5, div.aa3, div.aa6{
        display: inline-block;
        width: 300px;
        height: 260px;
        padding:0;
        margin: 20px;
        /*float: left ;*/
        overflow: hidden;

    }
                            /*Lisaped Lisaped Lisaped Lisaped Lisaped Lisaped */
   .aa img{
       width: 300px;
   }

.a1{
    width: 300px;
    /*height: 300px;*/
}
.a1:hover .aa img{
    display: none;
}
.a1:hover .aa{
    background: url(images/blue_fon2.png) no-repeat, url(images/Lisaped.png) no-repeat;
       -webkit-background-size: 300px 250px;
    background-size: 300px 250px;
}

    .overlay {
        margin: 0 auto;
        display: none;
        position: relative;
        z-index: 999;
        top: -400px;
    }

    .Big_lisaped{
        /*display:none;*/
        max-width: 1200px;
          }

    .overlay:target {
        display: table;
    }


                    /*Madam Madam Madam Madam Madam Madam Madam Madam Madam Madam Madam Madam Madam */
    .aaa img{
        width: 400px;
    }

    .a2:hover .aaa img{
        display: none;
    }
    .a2:hover .aaa{
        background: url(images/blue_fon2.png) no-repeat 50% 50%, url(images/madam.jpg) no-repeat 50% 50%;
           }

    .overlay2 {
        margin: 0 auto;
        display: none;
        position: relative;
        z-index: 999;
        top: -400px;
    }
    .Madam{
        /*display:none;*/
        max-width: 1200px;
    }
    .overlay2:target {
        display: table;
    }

                /*Two_cups Two_cups Two_cups Two_cups Two_cups Two_cups Two_cups Two_cups Two_cups */
    .aa3 img{
        width: 400px;
    }

    .a3:hover .aa3 img{
        display: none;
    }
    .a3:hover .aa3{
        background: url(images/blue_fon2.png) no-repeat 50% 50%, url(images/two_cups.jpg) no-repeat 50% 50%;
    }
    .overlay3 {
        margin: 0 auto;
        display: none;
        position: relative;
        z-index: 999;
        top: -400px;
    }
    .Two_cups{
        /*display:none;*/
        max-width: 1200px;
    }
    .overlay3:target {
        display: table;
    }

    /*<!--One cup One cup One cup One cup One cup One cup One cup One cup One cup-->*/
    .aa4 img{
        width: 400px;
    }

    .a4:hover .aa4 img{
        display: none;
    }
    .a4:hover .aa4{
        background: url(images/blue_fon2.png) no-repeat 50% 50%, url(images/w_cup_tea.jpg) no-repeat 50% 50%;
    }
    .overlay4 {
        margin: 0 auto;
        display: none;
        position: relative;
        z-index: 999;
        top: -600px;
    }
    .One_cup{
        /*display:none;*/
        max-width: 1200px;
    }
    .overlay4:target {
        display: table;
    }

    /*<!--Two lisapeds Two lisapeds Two lisapeds Two lisapeds Two lisapeds Two lisapeds Two lisapeds-->*/

    .aa5 img{
        width: 362px;
    }

    .a5:hover .aa5 img{
        display: none;
    }
    .a5:hover .aa5{
        background: url(images/blue_fon2.png) no-repeat 50% 50%, url(images/lisaped2.jpg) no-repeat 50% 50%;
    }
.overlay5 {
    margin: 0 auto;
    display: none;
    position: relative;
    z-index: 999;
    top: -600px;
}
    .Two_lis{
        /*display:none;*/
        max-width: 1200px;
    }
    .overlay5:target {
        display: table;
    }


.clear{
        /*padding: 54px;*/
    }

    /*<!--Lisaped right Lisaped right Lisaped right Lisaped right Lisaped right Lisaped right-->*/
    .aa6 img{
        width: 366px;
        position: relative;
        left: -74px;
    }

    .a6:hover .aa6 img{
        display: none;
    }
    .a6:hover .aa6{
        background: url(images/blue_fon2.png) no-repeat 50% 50%, url(images/lisaped.jpg) no-repeat 80% 50%;
    }
    .overlay6 {
        margin: 0 auto;
        display: none;
        position: relative;
        top: -600px;
        z-index: 999;

    }
    .Right_lis{
        /*display:none;*/
        max-width: 1200px;
        max-height: 1000px;
    }
    .overlay6:target {
        display: table;
    }

    .clear{
           }
/*Foter & forms*/  /*Foter & forms*//*Foter & forms*//*Foter & forms*//*Foter & forms*/

.footer{
    text-align: center;
    width: 90%;
    margin: 0 auto;
       }
.fon{
    background: url(images/footerfon.png) repeat-y 50% 50%, url(images/footerfon.jpg) no-repeat 50% 50%;
    position: relative;
    height: 720px;
}

.form{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
    top: -720px;
    }

.form h1{
    position: relative;
    color: #fff;
    font-weight: 100;
    padding: 50px 0 10px 0;
    margin: 0;
    font-size: 50px;
   }

.txt{
    position: relative;
    top: -804px;
}

#fp{
    color: #FFFFFF;
    font-size: 15px;
    padding:10px 0 40px 0;
    font-weight:100;
}

.usn{
    width: 65%;
    height: 3em;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #959CAC;
}

.email{
    width: 65%;
    height: 3em;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #959CAC;

}

.mas{
    width: 65%;
    height: 10em;
    font-size: 20px;
    font-family:Lato, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 1px solid #959CAC;
}

.checkbox{
    background-color: #989FA8;
    width: 27px;
    height: 27px;
    position: relative;
    left: -84px;
    top: 13px;
}

input{
    opacity: 1;
    border:1px solid white;
    background:none;
    color: #ffffff;
}

input::placeholder{
    color: #FFFFFF;
}

textarea{
    background:none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;

}

textarea::placeholder{
        color: #ffffff;
    }

#subscribe{
    position: relative;
    left: -75px;
    top: 10px;
}

.form button{
    position: relative;
    left: 78px;
    top: 7px;
    width: 150px;
    height: 54px;
    font-size: 23px;
    background: #16A4FA;
    color: #ffffff;
    border: solid 1px #16A4FA;
    border-radius: 3px;

}
    .form button:hover{
        cursor: pointer;
    }
/*Социальная нижняя полоска копирайт*/  /*Социальная нижняя полоска копирайт*/

div.social{
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 100px;
    text-align: left;
    top: -624px;
    background-color: white;
}

div.social p{
    margin: 2.6% 7%;
    color: #C2C6C7;
    padding: 0;
    width: 28%;
    text-align: left;
    font-size: 1.5em;
    float: left;
    }

.fb{
    float: left;
       padding: 20px;
    margin: 10px;
}

.icns{
    float: right;
    margin: 1.3% 3%;
}
    .fb{
        float: left;
        padding: 20px;
        margin: 10px;
        background-image: url("images/ss_fb.jpg");
    }

    .tw{
        float: left;
        padding: 20px;
        margin: 10px;
        background-image: url("images/ss_twit.jpg");

    }
    .ggl{
        float: left;
        padding: 20px;
        margin: 10px;
        background-image: url("images/ss_g.jpg");

    }
    .ln{
        float: left;
        padding: 20px;
        margin: 10px;
        background-image: url("images/ss_ln.jpg");

    }
    @media screen and (max-width:876px){

        .clear1{
            display: none;
        }

    }